
.main-board {
  background-color: lightskyblue;
  height: 480px;
  margin-top: 3em;
}

.player-card {
  width: 12.5rem;
  height: 12.5rem;
  margin: 1.25rem;
  border-radius: 50%;
  background-color: #ddd;
  text-align: center;
  line-height: 12.5rem;
  position: relative;
  display: inline-block;
  border: 2px solid #fff;
  opacity: 1;
  background-repeat:no-repeat;
  background-position: center center;
}

.player-card:nth-child(2) {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.box {
  padding-left: 200px;
}
